* {
    margin: 0;
    padding: 0;
    font-family: "Paytone One", sans-serif;
    width: 100%;
}
.topBar {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(256,256,256,.5);
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.sections {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.name {
    font-size: x-large;
    align-self: center;
    padding-left: 2rem;
    color: black;
}

.logos {
    width: auto;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.logo {
    width: auto;
    height: 100%;
    padding-right: 2rem;
}

.heroSection {
    position: relative;
    background-image: url("./Resources/flowerBoy.png");
    background-size: cover;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

.hydribbit {
    background-image: url("./Resources/swamp.jpg");
    background-position: center;
    background-size:cover;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding-left: 2rem;
    overflow: hidden;
    position: relative;
}

.hydribbit h1 {
    font-weight: 900;
    font-size: 21rem;
    text-align: center;
}

.bottomText {
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

.frog {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-55%) translateY(50%);
    height: 50%;
    width: auto;
}
.hat {
    position: absolute;
    bottom: 46%;
    left: 51%;
    transform: translateX(-50%) translateY(50%);
    height: 35%;
    width: auto;
}

.toga {
    background-image: url("./Resources/troy-university-fraternity-row-modified.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    padding-left: 2rem;
    overflow: hidden;
    position: relative;
}

.toga h1 {
    font-family: "Gantari", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 20rem;
    color: white;
    opacity: 90%;
}

.toga h2 {
    font-family: "Gantari", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 5rem;
    color: white;
    width: 40%;
    line-height: 90%;
    opacity: 90%;
}

.toga h3 {
    font-family: "Gantari", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    opacity: 90%;
}

.toga img {
    height: 20%;
    width: auto;
    opacity: 90%;
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 2;
}

.engineer {
    font-family: "Paytone One", sans-serif;
    font-weight: 10rem;
    font-style: normal;
    font-size: 25rem;
    align-self: center;
    text-align: center;
    line-height: 40vh;
    color: rgba(86, 124, 87, 1);
    text-shadow: rgba(65, 74, 18, 1) 1rem 1rem;
    z-index: 1;
    position: relative;
}

p {
    font-family: "Amiko", sans-serif;
    color: white;
    font-weight: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.mugshot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 80vh;
    object-fit: cover;
    z-index: 2;
}

.project {
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    overflow: hidden;
    position: relative;
}

.projectsSection {
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    overflow: hidden;
    position: relative;
}

.projectButtons {
    z-index: 10;
    position: absolute;
    height: 22%;
    width: auto;
    bottom: 2rem;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 90%;
}

.readMore {
    height: 70%;
    width: auto;
}

.button {
    background-color: white;
    opacity: 90%;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}
button {
    background-color: white;
    opacity: 90%;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

.aboutSection {
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    background-color: rgba(255, 176, 40, 1);
    display: flex;
    flex-direction: row;
    position: relative;
}

.arch {
    background-color: #FFF9F0;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.delicateArch {
    height: 90%;
    width: auto;
    margin-left: 8rem;
    margin-top: 2rem;
}

.stamp {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    width: auto;
    height: 20vh;
    object-fit: cover;
    z-index: 2;
    transform: rotate(-20deg);
}

.textWall {
    margin: 3rem;
}

h2 {
    color: white;
    font-size: 5rem;
}